{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="todos-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="todos-table-body">
            <!-- Table rows will be populated by JavaScript -->
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/api.js"></script>
<script type="module" src="/static/js/dom-utils.js"></script>
<script type="module" src="/static/js/todo-form.js"></script>
<script type="module" src="/static/js/event-handlers.js"></script>
<script type="module" src="/static/js/dashboard.js"></script>
{% endblock %}
